doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= Catalog
    // TODO: Should we figure out how to import from a stylesheet we control?
    link(rel='stylesheet' type='text/css' href='/styles/style.css')
    link(rel='stylesheet' type='text/css' href='https://fuse-styles.docs.t-mobile.com/css/styles.css')
    // TODO: Remove halloween after demo
    link(rel='stylesheet' type='text/css' href='/styles/halloween.css')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(crossorigin='' src='https://unpkg.com/react@17/umd/react.development.js')
    script(crossorigin='' src='https://unpkg.com/react-dom@17/umd/react-dom.development.js')

  body
    .container
      .tmo-floating-label
        .row
          
          .col-6.col-sm-5.col-md-4.m-l-md
            #search-box
          .col-6.col-sm-5.col-md-4.m-l-md
          h5 Manufacturer:
          #filter-by-manufacturer

    main#main
    .album.py-5.bg-light
      .container
        .row
          .card-deck#results
      
      
      script(type='text/javascript').
        var products = !{JSON.stringify(data)}
        var template = !{JSON.stringify(template)}
      
      script(src="/javascript/main.js", type='text/javascript')
      script(src="/javascript/hooks/useSearch.js", type='text/javascript')
      script(src=`/templates/${template}/${template}.js`, type='text/javascript')
      // can probably conditionally import stuff like filters, etc. based on request
      script(src=`/javascript/search/search.js`, type='module')
      script(src=`/javascript/filters/manufacturer.js`, type='text/javascript')
      if theme
        link(rel='stylesheet' type='text/css' href=`/styles/${theme}`)

      