/* This is the submit button styles */
button {
	/* Font-size is the root value that determines size of spinner parts. Change this to whatever you want and spinner elements will size to match. */
	position: relative;
}

/* This is the space for the spinner to appear, applied to the button */
.spin {
	padding-left: 2.5em;
	display: block;
}

/* position of the spinner when it appears, you might have to change these values */
.spin .spinner {
	left: -0.6em;
	top: 0.4em;
	width: 2.5em;
	display: block;
	position: absolute;
}

/* spinner animation */
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* The actual spinner element is a pseudo-element */
.spin .spinner::before {
	content: '';
	width: 1.5em; /* Size of the spinner */
	height: 1.5em; /* Change as desired */
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border: solid 0.35em #999; /* Thickness/color of spinner track */
	border-bottom-color: #555; /* Color of variant spinner piece */
	animation: 0.8s linear infinite spinner; /* speed of spinner */
	transform: translate(-50%, -50%);
	will-change: transform;
}

/* optional, but it will affect the size if changed */
*,
*::before,
*::after {
	box-sizing: border-box;
}
